﻿<div class="row">
    <div class="col-xs-12">
        <h1>{{pageTitle}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <nav>
            <a class="btn btn-primary"
                 routerLink="/productList">
                Product List
            </a>
        </nav>
        <br/>
        <router-outlet></router-outlet>
    </div>
</div>